<div class="row">
	<div class="col">
		<img [src]="recipe.imagepath" 
		alt="{{recipe.name}}" class="img-responsive"
		 style="max-height: 300px">
	</div>
</div>

<div class="row">
	<div class="col">
		<h2>{{recipe.name}}</h2>
	</div>
</div>


<div class="row">
	<div class="col">
	<h5>{{recipe.description}}</h5>
	</div>
</div>

<div class="row">
	<div class="col">
		<div class="btn-group" appDropdown>

			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Manage<span class="caret"></span>
			</button>

			<ul class="dropdown-menu">
				<li><a style="cursor: pointer;" (click)="onAddShoppingList()">To shopping List</a></li>
				<li><a style="cursor: pointer;" (click)="onRecipeEdit()">Edit Recipe</a></li>
				<li><a style="cursor: pointer;" (click)="onRecipeDelete()">Delete</a></li>
			</ul>

		</div>

	</div>
</div>



<div class="row">
	<div class="col">
		<ul class="list-group">
			<li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
			{{ingredient.name}}-{{ingredient.amount}}
			</li>
		</ul>
	
	</div>
</div>